*{
  padding: 0;
  margin: 0;
}
.main{
  display: flex;
  justify-content: center;
  padding-top: 2vw;
}
.acardionCont{
  background-color: bisque;
  width: 22vw;
}
.section1,.section2,.section3{
  padding: 10px;
}

.section1:hover{
  background-color: burlywood;
}
.section2:hover{
  background-color: burlywood;
}
.section3:hover{
  background-color: burlywood;
}